.presentation {
	display: flex;
	justify-content: space-between;
}

.presentation__content {
  margin-top: 97px;
  margin-right: 79px;

	h3 {
    margin-bottom: 20px;
		font-size: 46px;
		line-height: 46px;
		font-weight: 400;
	}

	p {
    margin-bottom: 20px;
		font-size: 12px;
		line-height: 19px;
    letter-spacing: 0.4px;
		color: $color-light-gray;
	}
}

.presentation__img {
	width: 436px;
	height: 436px;
	flex-shrink: 0;

	div {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 26px;
		line-height: 31;
		background-color: $color-gray;
		border-radius: 50%;
		border: 25px solid $color-light-gray;
	}
}

.presentation__link {
  position: relative;
	display: inline-flex;
  padding: 10px 16px;
	font-size: 13px;
	line-height: 16px;
	text-transform: none;

  &::after {
    content: "»";
    margin-left: 5px;
  }
}
