$color-white-default:     #ffffff;
$header-bg:               #290000;
$main-bg:                 #660000;
$primary-color:             #76c38f;
$color-gray:              #333333;
//$color-light-gray:        #6b6b6b;
$color-light-gray:        rgba(255, 255, 255, 0.5);
$color-logo-small:        #979797;


$delay-default:           0.3s;
$delay-card:              0.15s;
